
/* font style */
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.img-bg{
    background-image: url(../Assets/Hero-bg.png);
}
header, footer{
    max-width: 1440px;
    margin: 0 auto;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* nav styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 150px;
}
.primari-color{
    color: #4E47FF;
}
nav h3{
    font-size: 34px;
    font-weight: 700;
}
.btn-primari{
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    padding: 12px 36px;
    color: #FFFFFF;
    background-color: #4E47FF;

}
/* Beaner Style */
.beaner-section{
    display: block;
    justify-content: center;
    padding: 158px 260px;
}
.beaner-titel{
    font-size: 65px;
    font-weight: bold;
    text-align: center;
}
.beaner-btn{
    display: flex;
    justify-content: center;
}
/* Action Style */
.action-section{
    display: flex;
    align-items: center;
    margin: 116px auto; 
    justify-content: space-between;
}
.action-img{
    border-radius: 48px;
}
.action{
    display: block;
}
.action-titel{
    font-size: 43px;
    font-weight: bold;
}
.action-sub-titel{
    max-width: 70%;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.5);
}
 /* Productive Users Section */
.product-user-section{
   background-color: rgba(78, 71, 255, 0.12);
   margin: 116px auto;
   padding: 50px 142px;
   border-radius: 24px;
}
.product-user-titel{
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    
}
.product-user{
    display: flex;
    justify-content: space-around;
}
.user-titel{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
    margin: 0%;
}
.user-sub-titel{
 font-size: 20px;
 color: rgba(0, 0, 0, 0.5);
 margin-top: 0%;
}
/* Let’s Get In Touch Section */
.touch-section{
    display: flex;
    justify-content: space-between;
    
}
.touch-section-titel{
    font-size: 97px;
    font-weight: bold;
    width: 528px;
}
form input[type="text"], form input[type="email"], form textarea{
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(171, 176, 227, 0.65);
    color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: block;
    height: 60px;
    width: 490px;
    padding: 10px 20px;
    margin-bottom: 19px;
    font-size: 20px;
}
.textarea-hight{
    height: 135px;
}
/* Footer style */
footer{
    background-color: rgba(255, 255, 255, 1);
    padding: 100px 400px 140px; 
    text-align: center;
    display: block;
    justify-content: center;
}
.footer-sections{

}
.footer-sec{
    text-align: center;
    
}
.website-name{
    font-size: 100px;
    font-weight:900;
    margin-bottom: 0%;
}
.footer-subtitle{
    color: rgba(137, 135, 161, 1);
}
.footer-linked-item{
    display: flex;
    gap: 40px;
    justify-content: center;
    padding: 20px 70px;
}
footer a{
    text-decoration: none;
    color: rgba(137, 135, 161, 1);
}
